.test {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

/* .backdrop {
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
  pointer-events: auto;
  width: 100vw;
  z-index: -2;
} */

.popContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.8rem);
  pointer-events: auto;
  width: 100vw;
  top: -100%;
  left: -0%;
  z-index: 2;
}

.pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1em;
  width: 20rem;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 7rem auto;
  user-select: none;
  position: relative;
  animation: flipIn 0.2s ease-in-out;
}

@keyframes flipIn {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.pop::after,
.pop::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #f58439, #3380fc, #f58439);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  border-radius: 1.5em;
  animation: 2s spin linear infinite;
  z-index: -1;
}

.pop::after {
  box-shadow: 0 0.5em 0 0 #333333;
}

.pop::before {
  filter: blur(1rem);
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.login-container {
  background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(103, 143, 201, 1) 70%);
  height: 100svh;
  position: relative;
}

.login-subwrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  height: 100svh;
  width: 50svw;
  margin: auto;
  inset: 0;
  gap: 1em;

  background-color: rgba(229, 229, 229, 0.3);
  /* border-radius: 1rem; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sam-right {
  animation: slideInFromRight 1s ease-in-out;
}

.sam-left {
  animation: slideInFromLeft 1s ease-in-out;
}

.studyseed-logo {
  animation: slideInFromTop 1s ease-in-out;
}

.login-form {
  animation: slideInFromBottom 1s ease-in-out;
}

.sam-loading {
  animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%) scale(1.1);
    opacity: 1;
  }
  70% {
    transform: translateY(5%) scale(0.95);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
